@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import 'variables.scss';

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: $background;
}

h1, h2 {
    color: $headings-color;
    font-size: 1.5em;
    font-weight: 700;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: $app-width;
    margin: 0 auto;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}