<h1>Twój profil</h1>
<div class="profile-info">
  <div class="profile-name">
    <img src="" alt="" />
    <div class="id-group">
      <h2>Krzysztof Czaja</h2>
      <h3>Szwajowy</h3>
    </div>
  </div>
  <div class="profile-stats">
    Znajomi: <span>23</span><br />
    Widziany: <span>teraz</span>
  </div>
  <div class="joined-on">
    Dołączył do nas:<br />
    <span>13 Kwietnia, 2019</span>
  </div>
</div>
<div class="profile-about">
  <h2>O mnie</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio quasi atque quos hic, rem aspernatur in quisquam asperiores culpa perspiciatis impedit. Aliquid et ab inventore facere soluta provident nulla est libero atque odio quasi incidunt repellendus in, tempora cumque repellat corrupti quo ducimus. Magnam expedita fuga dolorem exercitationem harum.</p>
</div>